In [ ]:
import pandas as pd
import numpy as np
url=("https://raw.github.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv")
tips = pd.read_csv(url)
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips[['total_bill', 'tip', 'smoker', 'time']].head(5)

   total_bill   tip smoker    time
0       16.99  1.01     No  Dinner
1       10.34  1.66     No  Dinner
2       21.01  3.50     No  Dinner
3       23.68  3.31     No  Dinner
4       24.59  3.61     No  Dinner

In [ ]:
tips.assign(tip_rate=tips['tip']/tips['total_bill']).head(5)

   total_bill   tip     sex smoker  day    time  size  tip_rate
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [ ]:
tips[tips['time'] == 'Dinner'].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
is_dinner = tips['time'] == 'Dinner'

In [ ]:
is_dinner.value_counts()

True     176
False     68
Name: time, dtype: int64

In [ ]:
tips[is_dinner].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips[(tips['time'] == 'Dinner') & (tips['tip'] > 5.00)]

     total_bill    tip     sex smoker  day    time  size
23        39.42   7.58    Male     No  Sat  Dinner     4
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
116       29.93   5.07    Male     No  Sun  Dinner     4
155       29.85   5.14  Female     No  Sun  Dinner     5
170       50.81  10.00    Male    Yes  Sat  Dinner     3
172        7.25   5.15    Male    Yes  Sun  Dinner     2
181       23.33   5.65    Male    Yes  Sun  Dinner     2
183       23.17   6.50    Male    Yes  Sun  Dinner     4
211       25.89   5.16    Male    Yes  Sat  Dinner     4
212       48.33   9.00    Male     No  Sat  Dinner     4
214       28.17   6.50  Female    Yes  Sat  Dinner     3
239       29.03   5.92    Male     No  Sat  Dinner     3

In [ ]:
tips[(tips['size'] >= 5 | (tips['total_bill'] > 45)]

SyntaxError: ignored

In [ ]:
frame = pd.DataFrame({'col1': ['A', 'B', np.NaN, 'C', 'D'], 'col2': ['F', np.NaN, 'G', 'H', 'I']})

In [ ]:
frame[frame['col2'].isna()]

  col1 col2
1    B  NaN

In [ ]:
tips.groupby('sex').size()

sex
Female     87
Male      157
dtype: int64

In [ ]:
tips.groupby('sex').count()

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [ ]:
tips.groupby('sex')['total_bill'].count()

sex
Female     87
Male      157
Name: total_bill, dtype: int64

In [ ]:
tips.groupby('day').agg({'tip': np.mean, 'day': np.size})

           tip  day
day
Fri   2.734737   19
Sat   2.993103   87
Sun   3.255132   76
Thur  2.771452   62

In [ ]:
tips.groupby(['smoker', 'day']).agg({'tip': [np.size, np.mean]})

             tip
            size      mean
smoker day
No     Fri     4  2.812500
       Sat    45  3.102889
       Sun    57  3.167895
       Thur   45  2.673778
Yes    Fri    15  2.714000
       Sat    42  2.875476
       Sun    19  3.516842
       Thur   17  3.030000

In [ ]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],'value': np.random.randn(4)})

In [ ]:
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],'value': np.random.randn(4)})

In [ ]:
# merge performs an INNER JOIN by default
pd.merge(df1, df2, on='key')

  key   value_x   value_y
0   B -0.308001  0.733291
1   D -0.383430  0.545480
2   D -0.383430  1.165973

In [ ]:
pd.merge(df1, df2, on='key', how='left')

  key   value_x   value_y
0   A -0.640148       NaN
1   B -0.308001  0.733291
2   C -1.249142       NaN
3   D -0.383430  0.545480
4   D -0.383430  1.165973

In [ ]:
pd.merge(df1, df2, on='key', how='right')

  key   value_x   value_y
0   B -0.308001  0.733291
1   D -0.383430  0.545480
2   D -0.383430  1.165973
3   E       NaN  0.714308

In [ ]:
df1

  key     value
0   A -0.640148
1   B -0.308001
2   C -1.249142
3   D -0.383430

In [ ]:
df2

  key     value
0   B  0.733291
1   D  0.545480
2   D  1.165973
3   E  0.714308

In [ ]:
df1 = pd.DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'],'rank': range(1, 4)})|

SyntaxError: ignored

In [ ]:
df1 = pd.DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'],'rank': range(1, 4)})

In [ ]:
df2 = pd.DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles'],'rank': [1, 4, 5]})

In [ ]:
pd.concat([df1, df2])

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
0        Chicago     1
1         Boston     4
2    Los Angeles     5

In [ ]:
pd.concat([df1, df2]).drop_duplicates()

            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
1         Boston     4
2    Los Angeles     5